{% extends 'flatpages/default.html' %}
{% load widget_tweaks %}

{% block title %}
  {% if post.title %}
    Edit post
  {% else %}
    New post
  {% endif %}
{% endblock title %}

{% block content %}
<h1>
  {% if post.title %}
    {{ post.title }}
  {% else %}
    New post
  {% endif %}
</h1>
<hr>
<form action="" method="post">
  {% csrf_token %}

  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field|add_class:'form-control' }}
      {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
  {% endfor %}
  <br>
  <div class="form-group">
    {% if can_post %}
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-ok"></span>Save
    </button>
    {% else %}
    <span class="d-inline-block" data-mdb-placement="top" data-mdb-toggle="popover" data-mdb-content="You have reached the limit of 3 posts per day">
      <button type="submit" class="btn btn-danger" disabled>
        <span class="glyphicon glyphicon-ok"></span>Save
      </button>
    </span>
    {% endif %}
    <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-default">Cancel</a>
  </div>
</form>
<br>
{% endblock content %}