{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
- {{ post.title }}
{% endblock title %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
<h1 class="text-center">{{ post.title|censor }}</h1>
<small class="text-muted">Posted by {{ post.author }} on {{ post.created|date:'d M Y' }}</small>
<div>
  {% for category in post.category.all %}
  <span class="badge rounded-pill bg-secondary">{{ category }}</span>
  {% endfor %}
</div>
<p>{{ post.text|censor }}</p>
<br>
<div class="fixed-action-btn" id="fixed1">
  <a class="btn btn-floating text-white btn-lg" href="{{ request.path }}/edit" style="background-color: #E4A11B;">
    <i class="fas fa-edit"></i>
  </a>

  <ul class="list-unstyled">
    <li>
      <a class="btn text-white btn-floating btn-lg" href="{{ request.path }}/delete" style="background-color: #DC4C64;">
        <i class="fas fa-trash"></i>
      </a>
    </li>
  </ul>
</div>
{% endblock content %}