{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block title %}
- {{ page_title }}
{% endblock title %}

{% block breadcrumbs %}
<!-- Breadcrumb -->
<nav class="d-flex" aria-label="Breadcrumbs">
  <h6 class="mb-0">
    <a href="/" class="text-reset">Home</a>
    <span>&rsaquo;</span>
    <a href="{{ request.path }}" class="text-reset">{{ page_title }}</a>
  </h6>
</nav>
<br>
<!-- Breadcrumb -->
{% endblock breadcrumbs %}

{% block content %}
<!-- Filter -->
{% if 'search' not in request.path %}
  <form class="row row-cols-lg-auto g-3 align-items-end justify-content-center" action="" method="get">
    {% for field in filterset.form.visible_fields %}
      <div class="col-12">
        <label for="{{ field.id_for_label }}" class="">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="col-12">
      <button class="btn btn-outline-primary" type="submit" name="button">Filter</button>
    </div>
  </form>
  <hr>
{% endif %}
<!-- Filter -->
<!-- Content -->
  <h1 class="text-center">All {{ page_title }}</h1>
  <div class="text-end">
    <a class="btn btn-link disabled" role="button">Posts: {{ object_list|length }}</a>
  </div>
  {% if object_list %}
    {% for post in object_list %}
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="http://placekitten.com/250/250"
              alt="{{ post.title }}"
              class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <a href="{% if post.get_type_display == 'News' %}/news/{% else %}/articles/{% endif %}{{ post.pk }}">
                <h5 class="card-title">{{ post.title|censor }}</h5>
              </a>
              <p class="card-text">{{ post.text|truncatewords:20|censor }}</p>
                <div class="row">
                  <div class="col-md-6">
                    <p class="card-text">
                    <small class="text-muted">{{ post.created|date:'d M Y' }}</small>
                    </p>
                    {% if post.get_type_display == 'News' %}
                      <span class="badge rounded-pill badge-success">{{ post.get_type_display }}</span>
                    {% else %}
                      <span class="badge rounded-pill badge-warning">{{ post.get_type_display }}</span>
                    {% endif %}
                  </div>
                  <div class="col-md-6 text-end">
                    <p class="card-text"><small class="text-muted">{{ post.author }}</small></p>
                    {% for category in post.category.all %}
                    <span class="badge rounded-pill bg-secondary">{{ category }}</span>
                    {% endfor %}
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h2>Nothing here!</h2>
  {% endif %}
  {% if 'search' not in page_title %}
    <div class="fixed-action-btn" id="new_post">
      <a class="btn btn-floating text-white btn-lg" style="background-color: #3B71CA;" href="{{ request.path }}create">
        <i class="fas fa-pencil-alt"></i>
      </a>
    </div>
  {% endif %}
<!-- Content -->
<!-- Pagination -->
  <nav aria-label="Pagination">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">Previous</a></li>
      <li class="page-item"><a class="page-link" href="?{% url_replace page=1 %}">1</a></li>
      {% if page_obj.previous_page_number != 1 %}
        <li class="page-item">...</li>
        <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
      {% endif %}
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    {% endif %}

    <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
      {% if paginator.num_pages != page_obj.next_page_number %}
        <li class="page-item">...</li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">Next</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
    {% endif %}

  </ul>
  </nav>
<!-- Pagination -->
{% endblock content %}