{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Change name" %}{% endblock %}

{% block content %}
<form action="" method="post">
  <h4>Change name:</h4>
  {% csrf_token %}
  <div class="form-group">
    {% for field in form %}
      {% if form.is_bound %}
        {% if field.errors %}
          <div class="form-outline mb-5">
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          </div>
          {% endfor %}
        {% else %}
          <div class="form-outline mb-4">
            {% render_field field class="form-control is-valid" %}
            {{ field|add_label_class:"form-label" }}
          </div>
        {% endif %}
      {% else %}
        <div class="form-outline mb-4">
          {% render_field field class="form-control" %}
          {{ field|add_label_class:"form-label" }}
        </div>
      {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-success">Save</button>
  </div>
</form>
{% endblock content %}