{% extends "account/base.html" %}
{% load account socialaccount %}

{% block content %}
<h1>Hello, {{ user.get_full_name }}!</h1>
<!--TODO: add name change form-->
<ul>
  <li><a href="{% url 'account_email' %}">Manage your email</a></li>
  <li><a href="{% url 'account_change_password' %}">Change your password</a></li>
  <li><a href="{% url 'socialaccount_connections' %}">Manage account connections</a></li>
</ul>
{% if not is_author %}
  <a class="btn text-white" style="background-color: #3b5998;" href="{% url 'upgrade' %}" role="button">
  Become an author
  </a>
{% else %}
  <a class="btn text-white disabled" style="background-color: #3b5998;" href="{% url 'upgrade' %}" role="button">
  You are an author
  </a>
{% endif %}
{% endblock content %}