{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Manage subscriptions" %}{% endblock %}

{% block content %}
<form action="" method="post">
  <h4>{% trans "Your subscriptions" %}:</h4>
  {% csrf_token %}
  <div class="d-flex justify-content-center">
    <div class="form-group">
      {% for field in form.name %}
        <div class="form-check d-flex justify-content-left">
          {{ field }}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-ok"></span>{% trans "Save" %}
      </button>
    </div>
  </div>
</form>
{% endblock content %}